<%- include('../partials/beginHeader.ejs') %>
<link rel="stylesheet" href="/styles/profile.css">
<title>49ersHangout - Profile</title>
<%- include('../partials/endHeader.ejs') %>
<main>
    <h2>How's it going, <%= user.firstName %> <%= user.lastName%>?</h2>
    <% if (events.length > 0) { %>
        <section class="display-events-rsvps">
            <h3>Your Events:</h3>
            <div class="events-rsvp">
                <% events.forEach(event => { %>
                    <div class="event-rsvp">
                        <a href="/events/<%= event.id %>"><p><%= event.title %></p></a>
                        <div class="buttons">
                            <form>
                                <button type="submit" formmethod="GET" formaction="/events/<%= event.id %>/edit"><i class="fa-solid fa-pen-to-square green-icon"></i></button>
                                <button type="submit" formmethod="POST" formaction="/events/<%= event.id %>?_method=DELETE"><i class="fa-solid fa-trash-can red-icon"></i></button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
            </div>
            </section>
    <% } else { %>
        <p id="no-event-p">No events to display.</p>
    <% } %>

    <% if (rsvps.length > 0) { %>
        <section class="display-events-rsvps">
            <h3>Your RSVPs:</h3>
            <div class="events-rsvps">
                <% rsvps.forEach(rsvp => { %>
                    <div class="event-rsvp">
                        <a href="/events/<%= rsvp.eventId.id %>"><p><%= rsvp.eventId.title %></p></a>
                        <p class="rsvp-status"><%= rsvp.status %></p>
                    </div>
                    <% }) %>
            </div>
            </section>
    <% } else { %>
        <p id="no-event-p">No RSVPs to display.</p>
    <% } %>

</main>

<%- include('../partials/footer.ejs') %>